
{% extends "base.html" %}

{% block content %}




  <div class="row mt-3 pt-2">
    <div class="col">
      <h3>Control</h3>
      <p>If the polargraph is connected and the buffer is not empty, click "Start Drawing".</p>
    </div>
  </div>

  <div class="row mt-2 pt-2"> <div class="col">
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <button type="submit" name="startDrawing" id="startDrawing" value="startDrawing" class="btn btn-lg btn-success">Start Drawing</button>
          <button type="submit" name="stopDrawing" id="stopDrawing" value="stopDrawing" class="btn btn-lg btn-danger">Stop Drawing</button>
          <button type="submit" name="clearBuffer" id="clearBuffer" value="clearBuffer" class="btn btn-lg btn-warning">Clear Buffer</button>
        </div>
      </form>
  </div> </div>

  <div class="row mt-3 pt-2"> <div class="col">
  <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
      <label for="coordinates">Add Coordinates to Buffer</label>
      <input type="text" name="coordinates" id="coordinates" value="{{coordinates}}" class="form-control my-2"/>
      <button type="submit" class="btn btn btn-primary">Add to Buffer</button>
    </form>
  </div>
  </div> </div>

  <div class="row mt-2">

    <div class="col w-50" style="max-width: 50%">
      <div class="card bg-light mt-4" >
        <div class="card-header"><h5 class="card-title mb-1">
          Device State
          <a class="btn btn-sm btn-outline-primary ml-2" href="/control">Reload</a>
        </h5></div>
        <div class="card-body">
          <h5 class="card-text mt-0 mb-3">
            {% if state.connected == True %}<span class="badge badge-success card-text ml-1 p-2">Connected</span>{% else %}<span class="badge badge-danger card-text ml-1 p-2">Not Connected</span>{% endif %}
            {% if state.data.d == 1 %}<span class="badge badge-success card-text ml-1 mt-1 p-2">Drawing</span>{% else %}<span class="badge badge-danger card-text ml-1 mt-1 p-2">Not Drawing</span>{% endif %}
          </h5>
          <p class="card-text">Last State Update: {{state.time}} {{state.date}}</p>
          <p class="card-text">Last Config Version on Polargraph: {{state.data.last_conf}}</p>
          <p class="card-text">Buffer Size: {{state.data.buffer_size}}</p>
          <p class="card-text">X: {{state.data.x_pos}} mm</p>
          <p class="card-text">Y: {{state.data.y_pos}} mm</p>
          <p class="card-text">Left Length: {{state.data.left_len}} mm</p>
          <p class="card-text">Right Length: {{state.data.right_len}} mm</p>
          <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseState">View JSON</button>
        </div>
        <div id="collapseState" class="collapse">
          <div class="card-footer"><p class="card-text" style="max-width: 100%; overflow-wrap: break-word; word-wrap: break-word;">{{state.data}}</p></div>
        </div>
      </div>
    </div>

    <div class="col w-50" style="max-width: 50%">
      <div class="card bg-light mt-4" >
        <div class="card-header"><h5 class="card-title">Device Config</h5></div>
        <div class="card-body">
          <h5 class="card-text mb-3">Last Config (Version {{conf.version}})</h5>
          <p class="card-text">Time: {{conf.data.t}}</p>
          <p class="card-text" style="max-width: 100%; overflow-wrap: break-word; word-wrap: break-word;">Add X Buffer: {{conf.data.bx}}</p>
          <p class="card-text" style="max-width: 100%; overflow-wrap: break-word; word-wrap: break-word;">Add Y Buffer: {{conf.data.by}}</p>
          <p class="card-text">Draw: {{conf.data.d}}</p>
          <p class="card-text">Clear Buffer: {{conf.data.cb}}</p>
          <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseConfig">View JSON</button>
        </div>
        <div id="collapseConfig" class="collapse">
          <div class="card-footer">
            <p class="card-text" style="max-width: 100%; overflow-wrap: break-word; word-wrap: break-word;">{{conf.data}}</p>
            <form method="POST" class="" enctype="multipart/form-data">
              <div class="form-group">
                <textarea name="conf" id="conf" class="form-control">{'t':'0','bx':'{}','by':'{}','d':'false','cb':'false',}</textarea>
                <button type="submit" class="btn btn-sm btn-primary mt-3">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>




{% endblock %}
